{% extends "base.html" %}
{% block title %}Post {{ post.id }}{%endblock%}
{% block content %}
<article class="media content-section">
      <img class="rounded-circle article-img" src="/img/{{post.author.image_file}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('user_posts',id=post.author.id) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.created_at.strftime("%Y-%m-%d %H:%M") }}</small><br>
            {% if post.author == current_user %}
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ post.title }}</h2>
        <p class="article-content">{{ post.body }}</p>
      </div>
    </article>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this post?
        This action cant be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
          </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}